html
{
    font-size: 16px;
}
.item
{
    border-radius: 10px;
    border: 1px solid gray;
    height: 8em;
    margin: 1rem;
}
.button
{
    width: 20em;
}
b
{
    font-size: 1.2rem;
}
.price
{
    font-size: 0.8rem;
}