#container {
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
}
.flex {
    display: flex;
    gap: 10px;
    justify-content: left;
}
div div {
    width: 80%;
    height: 10vh;
}
#green {
    border: 1px solid black;
    background-color: green;
}
#red {
    border: 1px solid black;
    background-color: red;
}
#purple {
    border: 1px solid black;
    background-color: purple;
}